@model SIRESEP.DATOS.tbInfoLicenciaConducir
@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la Licencia</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idLicenciaConducir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idLicenciaConducir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.licencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idLicenciaConducir }) |
    @Html.ActionLink("Ver las Licencias", "Index")
</p>
