@model SIRESEP.DATOS.tbInfoGradoEstudio

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del grado</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idGradoEstudio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idGradoEstudio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idGradoEstudio }) |
    @Html.ActionLink("Volver a los grados de estudio", "Index")
</p>