@model IEnumerable<SIRESEP.DATOS.tbInfoPuesto>

@{
    ViewBag.Title = "Index";
}

<h2>Informacion del Puesto</h2>

<p>
    @Html.ActionLink("Nuevo Puesto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puesto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puesto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idPuesto }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idPuesto }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idPuesto }, new { onclick = "return confirm('Desea eliminar este puesto?');" })
        </td>
    </tr>
    }

</table>
