@model IEnumerable<SIRESEP.DATOS.tbInfoInstitucion>

@{
    ViewBag.Title = "Index";
}

<h2>Institucion de Estudio</h2>

<p>
    @Html.ActionLink("Nueva Institucion", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idInstitucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreInstitucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ano)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idInstitucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreInstitucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idInstitucion }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idInstitucion }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idInstitucion }, new { onclick = "return confirm('Desea eliminar esta Institucion?');" })
        </td>
    </tr>
}

</table>
