@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>SIRESEP</h1>
    <p class="lead">Bienvenido a la pagina, estos son los primeros mantenimientos</p>
    <br />
    <li>@Html.ActionLink("Carrera", "Index", "Carrera")</li>
    <li>@Html.ActionLink("Certificaciones", "Index", "Certificaciones")</li>
    <li>@Html.ActionLink("Informacion de Puestos", "Index", "InfoPuesto")</li>
    <li>@Html.ActionLink("Informacion de Generos", "Index", "InfoGenero")</li>
    <li>@Html.ActionLink("Informacion de Grados de Estudios", "Index", "InfoGradoEstudio")</li>
    <li>@Html.ActionLink("Informacion de Habilidades", "Index", "InfoHabilidad")</li>
    <li>@Html.ActionLink("Informacion de Licencias", "Index", "InfoLicenciaConducir")</li>
    <li>@Html.ActionLink("Informacion de Idiomas", "Index", "InfoIdioma")</li>
    <li>@Html.ActionLink("Informacion de Nacionalidades", "Index", "InfoNacionalidad")</li>
    <li>@Html.ActionLink("Informacion laboral", "Index", "InfoLaboral")</li>
    <li>@Html.ActionLink("Informacion de Instituciones", "Index", "InfoInstitucion")</li>
    @*   <li>@Html.ActionLink("Informacion de Estado", "Index", "Estado")</li>*@

</div>
