@model SIRESEP.DATOS.tbInfoIdioma

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idIdioma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idIdioma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idioma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idioma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idIdioma }) |
    @Html.ActionLink("Ver idiomas", "Index")
</p>
