@model IEnumerable<SIRESEP.DATOS.tbInfoHabilidad>

@{
    ViewBag.Title = "Index";
}

<h2>Habilidades</h2>

<p>
    @Html.ActionLink("Nueva Habilidad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idHabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habilidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idHabilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.habilidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idHabilidad }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idHabilidad }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idHabilidad }, new { onclick = "return confirm('Desea eliminar esta habilidad?');" })
        </td>
    </tr>
}

</table>
